.news-banner{
    background-image: url('https://i1-giaitri.vnecdn.net/2022/10/11/Best-Chritian-Bale-films-0000-Terminator-Salvation-MCDTESA-EC054-1665458493.jpg?w=1200&h=0&q=100&dpr=2&fit=crop&s=6NGspVg230MVwId7IUOvBQ') !important;
    height: 400px !important;
    background-size: cover !important;
    background-position: center; 
    background-repeat: no-repeat;
}
